body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #2b2b2b !important;
  min-height: 100vh;
  font-family: "Poppins", sans-serif !important;
}

.navbar {
  background-color: #181818;
  border-bottom: 3px solid rgb(0, 255, 132);
  position: fixed;
  z-index: 999;
}

.navbar-brand {
  color: rgb(0, 255, 132) !important;
}

.navbar ul {
  width: 100%;
  padding: 0px 30px 0px 0px;
  list-style-type: none;
}

.navbar li {
  display: inline-block;
  margin: 0px 10px;
}

.navbar .dropdown-menu {
  margin-top: 10px;
  margin-left: -10px;
  right: 0;
  left: -200px;
  padding: 0;
}

.dropdown-menu ul {
  padding: 10px;
}

.dropdown-menu ul li {
  padding: 20px;
  width: 100%;
}

.dropdown-menu img {
  max-width: 60px;
  margin-right: 20px;
}

.dropdown-menu ul h6 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jumbotron {
  height: 30vh;
  background-color: #00ff84;
  background-image: linear-gradient(160deg, #00ff84 0%, #27b770 100%);
  margin: 0 !important;
}

.container {
  max-width: 1200px !important;
}

.btn-strive {
  color: rgb(0, 255, 132) !important;
  border: 1px solid rgb(0, 255, 132) !important;
}

.btn-strive:hover {
  color: #181818 !important;
  border: 1px solid rgb(0, 255, 132) !important;
  background-color: rgb(0, 255, 132);
}

.btn-skip {
  position: absolute;
  bottom: 18%;
  right: 30px;
  border: 2px solid #6b292962;
  background-color: #ca5757;
  color: #fff;
  outline: none;
  transition: background-color 0.25s ease;
  padding: 4px 8px;
  border-radius: 6px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
  font-size: 0.7rem;
}

.btn-skip:hover {
  background-color: #9c3c3c;
}

#book-store {
  box-shadow: 0px -6px 20px rgba(0, 0, 0, 0.3);
  background-color: #2b2b2b;
  color: #fff;
  padding: 50px;
  min-height: 70vh;
}

.text-large {
  font-size: 3rem;
}

.book-card {
  background-color: transparent !important;
  padding: 10px;
  height: 100% !important;
  cursor: pointer;
  transition: all 0.25s ease;
  height: 580px !important;
  border-radius: 4px !important;
}

.book-card:hover {
  background-color: #0a0a0a4d !important;
}

.book-card img {
  border-radius: 4px;
  height: 390px;
}

.card-header h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.25s ease;
}

.card-header {
  border: none !important;
  background: transparent !important;
}

.card-body {
  padding: 0px 10px !important;
  border: none !important;
}

.btn-addtocart {
  border: none !important;
  background-color: #00ff84;
  color: #181818ab;
  padding: 10px;
  border-radius: 8px;
  outline: none !important;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.btn-addtocart:hover {
  background-color: #17c06e;
  color: #181818;
}

.in-cart {
  background-color: #00ff8450;
  border: 1px solid #17c06e;
  -webkit-animation: swing-in-top-fwd 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.price-info::before,
.total-price::before {
  content: "£";
}

#shopping-cart .price-info {
  background-color: transparent;
  padding: 0px;
  font-weight: normal;
  border-radius: 0px;
  width: 100%;
  font-weight: bold;
  margin-top: -20px;
}

.price-info {
  background-color: #1b1b1b;
  padding: 12px 8px;
  font-weight: bold;
  border-radius: 10px;
  width: 35%;
}

#shopping-cart li {
  margin: 5px 0px;
  padding: 10px;
  background-color: #17c06e23;
  border-radius: 8px;
}

#shopping-cart-total {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-content {
  background-color: #2b2b2b !important;
  color: #fff;
}

.modal-content button {
  background-color: #00ff84;
  color: #1b1b1b;
  outline: none;
}

.modal-content button:hover {
  background-color: #19a361;
  color: #1b1b1b;
}

.modal-content button:active {
  box-shadow: none !important;
}

.modal-content .close {
  text-shadow: none;
  color: #00ff84;
  outline: none;
  transition: all 0.25s ease;
}

.modal-header {
  color: #00ff84;
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}

.modal-body img {
  max-width: 100px;
  height: auto;
}

.modal-body .card {
  height: auto !important;
  text-align: center;
  margin-bottom: 20px;
  min-width: 288px;
  border: 1px solid #0000006b;
}

/* ANIMATIONS */

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-11-5 14:18:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
